.btn {
    height: 50px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(277deg, #0c994e 109%, #0fb55d 24%);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &--white {
        background-image: none;
        background-color: #fff;
        color: $green;
        box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.2);
    }
}

.input {
    padding: 10px 18px;
    height: 50px;
    color: rgba($grey, .7);
    border: 1px solid rgba($grey, .7);
    border-radius: 4px;

    @media screen and (max-width: 1024px) {
        padding: 8px 12px;
    }
    
    &::placeholder {
        color: rgba($grey, .5);
    }

    &[disabled] {
        background-color: rgba($grey, .7);
        cursor: not-allowed;
    }

    &.valid {
        border-color: #0da453;
    }

    &.invalid {
        border-color: #fb7777;
    }
}

.textarea {
    padding: 10px 18px;
    height: 50px;
    color: rgba($grey, .7);
    border: 1px solid rgba($grey, .7);
    border-radius: 4px;
    resize: none;

    @media screen and (max-width: 1024px) {
        padding: 8px 12px;
    }

    &::placeholder {
        color: rgba($grey, .5);
    }
}

button {
    cursor: pointer;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}